<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!-- Importo propiedades -->
<script src="../../cfg/properties.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="techu-conde-accounts-dm" sheading="Custom styled">
  <template>
    <iron-ajax
      id="getAccountsAjax"
      method="GET"
      url=""
      content-type="application/json"
      handle-as="json"
      on-error="showError"
      on-response="manageAjAXResponseAccounts">
    </iron-ajax>

      <iron-ajax
        id="deleteStatements"
        method="put"
        url=""
        body='[]'
        handle-as="json"
        content-type="application/json"
        on-error="showErrorDeleteStatemente"
        on-response="manageAjAXResponseDeleteStatements">
      </iron-ajax>

      <iron-ajax
        id="deleteAccount"
        method="put"
        url=""
        body='[]'
        handle-as="json"
        content-type="application/json"
        on-error="showErrorDeleteAccount"
        on-response="manageAjAXResponseDeleteAccount">
      </iron-ajax>

      <iron-ajax
        id="createAccount"
        method="post"
        url=""
        handle-as="json"
        content-type="application/json"
        on-error="showErrorCreateAccount"
        on-response="manageAjAXResponseCreateAccount">
      </iron-ajax>

      <iron-ajax
        id="addStatement"
        method="post"
        url=""
        handle-as="json"
        content-type="application/json"
        on-error="showErrorAddStatement"
        on-response="manageAjAXResponseTransferencia">
      </iron-ajax>

      <iron-ajax
        id="updateBalance"
        method="put"
        url=""
        handle-as="json"
        content-type="application/json"
        on-error="showErrorUpdateBalance"
        on-response="manageAjAXResponseTransferencia">
      </iron-ajax>
  </template>


  <script>

    class TechuCondeAccount_dm extends Polymer.Element {
      static get is() { return 'techu-conde-accounts-dm'; }
      static get properties() {
        return {
          idUser:             {type: Number, value:-1},
          idAccount:          {type: Number, value:-1},
          accounts:           {type: Array},
          pasosTransferencia: {type: Number, value:0}
        };
      }

      getAccounts (idUser){
        this.idUser = idUser;
        this.$.getAccountsAjax.url=baseAPIURL+"users/" + this.idUser + "/accounts"
        this.$.getAccountsAjax.generateRequest();
        }

        manageAjAXResponseAccounts (data){
          this.accounts = data.detail.response;
          // formateamos las cuentas para la tabla que pintaremos
          // con cells-sortable-table
          var accountCells = this._formatAccountsToTable (this.accounts);
          this.dispatchEvent(new CustomEvent('techu-conde-accounts-dm-ok', {
            bubbles: true,
            composed: true,
            detail: {
              headers : [
                          {"label": "IBAN","id": "IBAN","sortable": true},
            	            {"label": "balance", "id": "balance", "sortable": true}
                        ],
              rows : accountCells
          }}));
        }

        showError (error){
          console.log ("Errror recuperando las cuentas");
          console.log (error);
        }

        showErrorDeleteStatemente (error){
            console.log ("Errror borrando movimientos");
            console.log (error);
        }

        showErrorDeleteAccount (error){
          console.log ("Errror borrando cuenta");
          console.log (error);
        }

        showErrorCreateAccount (error){
          console.log ("Errror dando de alta cuenta");
          console.log (error);
        }

        showErrorAddStatement (error){
          console.log ("Errror dando de alta movimiento");
          console.log (error);
        }

        showErrorUpdateBalance (error){
          console.log ("Errror actualizando balance de cuenta");
          console.log (error);
        }

        // Invocamos el borrado de la cuenta: primero los movimientos y luego la propia cuenta.
        deleteAccount (idAccount){
          this.idAccount = idAccount;
          this.$.deleteStatements.url=baseAPIURL+"users/" + this.idUser + "/accounts/"+this.idAccount+"/statements/"
          this.$.deleteStatements.generateRequest();
        }

        // Invocamos la creación de la cuenta
        createAccount (iban, idUser){
          console.log ("creando cuenta...");
          this.$.createAccount.url=baseAPIURL+"users/" + idUser +"/accounts/";
          // Incluimos el IBAN en el body
          var bodyIban = {
            "IBAN": iban
          }
          this.$.createAccount.body = JSON.stringify (bodyIban);
          this.$.createAccount.generateRequest();
        }

        // Realiza la transferencia:
        // i) Añade movimiento -importe a cuenta origen
        // ii) Añade movimiento +importe a cuenta destino
        // iii) Actualiza balance a balance - importe de cuenta origen
        // IV) Actualiza balance a balance + importe de cuenta destino
        tranfer (idUser, idAccountOrig, idAccountDest, importe, concepto, balanceOrig, balanceDest, IBANOrig, IBANDest){
          console.log ("Tranferencia de "+ IBANOrig + "(" + balanceOrig + ") a " + IBANDest + " (" + balanceDest + ") por " + importe + " en concepto de " + concepto)

          // Inicializamos los pasos de la transferencia, cuando sean 4 enviamos evento hacia arriba
          this.pasosTransferencia = 0;
          // -importe en movimientos cuenta origen
          this.$.addStatement.url=baseAPIURL+"users/" + idUser +"/accounts/" + idAccountOrig +"/statements/";
          var bodyStatement = {
            "iduser" : idUser,
            "idaccount" : idAccountOrig,
            "ammount" : -importe,
            "comments" : concepto,
            "type" : "transferencia",
            "date": this.getToday()
          }
          this.$.addStatement.body = JSON.stringify (bodyStatement);
          this.$.addStatement.generateRequest();

          // +importe en movimientos cuenta destino
          this.$.addStatement.url=baseAPIURL+"users/" + idUser +"/accounts/" + idAccountDest +"/statements/";
          var bodyStatement = {
            "iduser" : idUser,
            "idaccount" : idAccountDest,
            "ammount" : importe,
            "comments" : concepto,
            "type" : "transferencia",
            "date": this.getToday()
          }
          this.$.addStatement.body = JSON.stringify (bodyStatement);
          this.$.addStatement.generateRequest();

          // actualizo balance cuenta origen
          this.$.updateBalance.url=baseAPIURL+"users/" + idUser +"/accounts/" + idAccountOrig;
          var bodyStatement = {
            "iduser" : idUser,
            "IBAN" : IBANOrig,
            "balance" : parseFloat (balanceOrig) - parseFloat(importe)
          }
          this.$.updateBalance.body = JSON.stringify (bodyStatement);
          this.$.updateBalance.generateRequest();

          // actualizo balance cuenta destino
          this.$.updateBalance.url=baseAPIURL+"users/" + idUser +"/accounts/" + idAccountDest;
          var bodyStatement = {
            "iduser" : idUser,
            "IBAN" : IBANDest,
            "balance" : parseFloat(balanceDest) + parseFloat(importe)
          }
          this.$.updateBalance.body = JSON.stringify (bodyStatement);
          this.$.updateBalance.generateRequest();

        }

        // Devuelve el día de hoy en formato dd/mm/yyyy
        getToday (){
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!
          var yyyy = today.getFullYear();
          if(dd<10){
            dd='0'+dd;
          }
          if(mm<10){
            mm='0'+mm;
          }
          var today = dd+'/'+mm+'/'+yyyy;
          return today;
        }

        // Respuesta del borrado de la cuenta. Enviamos evento al padre informando OK
        manageAjAXResponseDeleteAccount (data){
          console.log ("Cuenta eliminada correctamente");
          this.dispatchEvent(new CustomEvent('techu-conde-accounts-dm-borrado-ok', {
            bubbles: true,
            composed: true,
            detail: {
          }}));
        }

        //Si movimientos eliminados ok, borramos la cuenta. Nueva petición AJAX
        manageAjAXResponseDeleteStatements (data){
          console.log ("Movimientos eliminados correctamente");
          this.$.deleteAccount.url=baseAPIURL+"users/" + this.idUser + "/accounts/"+this.idAccount+"/"
          this.$.deleteAccount.generateRequest();
        }

        // Manejador respuesta OK del alta de cuenta
        manageAjAXResponseCreateAccount (data){
          console.log ("Cuenta creada correctamente");
          this.dispatchEvent(new CustomEvent('techu-conde-accounts-dm-created-ok', {
            bubbles: true,
            composed: true,
            detail: {
          }}));
        }

        manageAjAXResponseTransferencia (data){
          this.pasosTransferencia++;
          // 4 pasos de la transferencia == > fin ==> evento hacia el padre
          if (this.pasosTransferencia == 4){
            this.pasosTransferencia = 0;
            this.dispatchEvent(new CustomEvent('techu-conde-accounts-dm-transferencia-ok', {
              bubbles: true,
              composed: true,
              detail: {
            }}));
          }
        }

        // Formatea el json a enviar como "accounts" para que tenga el formato
        // que requiere el componente cells-sortable-table
        _formatAccountsToTable (accounts){
          var jsonParseado = [];
          for (var i = 0; i < accounts.length; i++){
            var iban = accounts[i]["IBAN"];
            var balance = accounts[i]["balance"];
            var id = accounts[i]["idAccount"];
              // Añadimos el método _accountSelected para una vez seleccionada una
              // cuenta podamos operar con ella
              jsonParseado.push ({
                "cells": [
                  {"label": "<div id='account_"+id+"'><a href=\"javascript:{{_accountSelected('"+id+"','"+iban+"','"+balance+"')}};\">" + iban +"</a></div>"},
                  {"label": balance}
                ]
              });
          }
          return jsonParseado;
        }
      }

    window.customElements.define(TechuCondeAccount_dm.is, TechuCondeAccount_dm);
  </script>
</dom-module>
