<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/cells-sortable-table/cells-sortable-table.html">
<link rel="import" href="techu-conde-accounts-dm.html">
<link rel="import" href="techu-conde-accounts-buttons.html">

<!--<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/brainy-table/brainy-table.html">
<link rel="import" href="../../bower_components/brainy-table/brainy-table-column.html">-->

<dom-module id="techu-conde-accounts" sheading="Custom styled">

<template id="techuCondeAccounts" is="auto-binding" ref="techuCondeAccounts">
  <link rel="stylesheet" type="text/css" href="../../css/techu-conde.css">
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">

  <div hidden="{{hide}}" class="p-3 mb-2 bg-light border border-info rounded">

    <techu-conde-accounts-buttons
      id="accountsButtons"
      on-techu-conde-accounts-delete="deleteAccount"
      on-techu-conde-accounts-new="newAccount"
      on-techu-conde-accounts-transfer="transfer">
    </techu-conde-accounts-buttons>

    <!-- Formulario para alta de nueva cuenta-->
    <div hidden ="true" id="formNewAccountDiv">
        <form method="get" action="" id="formNewAccount">
          <div class="form-group">
            <label for="IBANLabel">IBAN</label>
            <input class="form-control" type="text" placeholder="ESXXXXXXXXXXXXXXXXXXXX" id="newIbanInput">
            <small id="ibanHelp" class="form-text text-muted">Indique un código IBAN de cuenta</small>
          </div>
          <button type="button" class="btn btn-primary"
          on-click="createAccount">Crear Cuenta</button>
          <button type="button" class="btn btn-warning"
          on-click="cancelCreateAccount">Cancelar</button>
        </form>
    </div>

    <!-- Formulario para transferencia entre cuentas-->
    <div hidden ="true" id="formTransferDiv">
        <form method="get" action="" id="formNewAccount">
          <div class="form-group">
            <label for="ImporteLabel">Importe</label>
            <input class="form-control" type="text" placeholder="00.00" id="importeInput">
            <small id="ibanHelp" class="form-text text-muted">Indique el importe de la transferencia</small>

            <label for="ConceptoLabel">Concepto</label>
            <input class="form-control" type="text" placeholder="concepto" id="conceptoInput">
            <small id="ibanHelp" class="form-text text-muted">Indique el concepto de la transferencia</small>
          </div>
            <center>
              <div type="button" class="btn btn-sq-lg btn-info" on-click="seleccionaOrigen">
                  <i class="fa fa-user fa-5x">[[IBAN]]</i><br/>
              </div>
              <img src="../img/transfer.png">
              <div type="button" class="btn btn-sq-lg btn-success" on-click="seleccionaDestino">
                <i class="fa fa-user fa-5x">[[IBANDest]]</i><br/>
              </div>
            </center>
            <button type="button" class="btn btn-primary" disabled
              on-click="submitTransfer" id="transferButton">Transferir dinero</button>
            <button type="button" class="btn btn-warning"
              on-click="cancelTransfer">Cancelar</button>
        </form>
    </div>


    <!-- Bootstrap & jquery -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
      <cells-sortable-table
        id="accountsTable"
        class="simple"
        show-sort-buttons
        sort-by="IBAN"
        rows="[[accounts.rows]]"
        column-headers="[[accounts.headers]]">
      </cells-sortable-table>

    <techu-conde-accounts-dm
      id ="accountsdm"
      on-techu-conde-accounts-dm-ok="listAccounts"
      on-techu-conde-accounts-dm-borrado-ok="accountDeleted"
      on-techu-conde-accounts-dm-created-ok="accountCreated"
      on-techu-conde-accounts-dm-transferencia-ok="transferDone">
    </techu-cosnde-accounts-dm>
  </div>
</template>
  <script>
    var refAccounts;
    /**
     * `techu-conde`
     * Proyecto Fin Master
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TechuCondeAccount extends Polymer.Element {
      static get is() { return 'techu-conde-accounts'; }

      static get properties() {
        return {
          idUser:                         {type: Number, value:-1},
          accounts:                       {type: Array},
          idAccount:                      {type: Number, value:-1, observer: '_idAccountChanged'},
          IBAN:                           {type: String},
          IBANDest:                       {type: String, value:"Seleccione una cuenta destino"},
          idAccountDest:                  {type: Number, value:-1, observer: '_idAccountDestChanged'},
          transferAccountOriDest:         {type: Boolean, value: true}, // para ver si estamos seleccinando origen de transfernecia (true) o destino (false)
          balance:                        {type: Number, value:-1},
          balanceDest:                    {type: Number, value:-1},
          hide:                           {type: Boolean, value: true}
        };
      }

      ready () {
        super.ready();
      }

      // ELimino valores de las proppiedades
      resetValues (){
        this.idUser = -1;
        this.accounts = [];
        this.idAccount = -1;
      }

      showMeHideMe () {
        this.hide = !this.hide;
        Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
      }

      // Fuerzo la llamada al webcomponent data manager asociado para que
      // recuepere las cuentas asociadas al usuario de la base de datos.
      getAccounts (idUser){
        // doy valor a ref para poderlo usar fuera del shadow-dom (por mejorar)
        refAccounts = this;
        this.idUser = idUser;
        Polymer.dom(this.root).querySelector("#accountsdm").getAccounts (this.idUser);
      }

      // Modifica la propiedad de cuentas. Con esto la tabla de cuentas se ve actualizada
      listAccounts (e, data){
        this.accounts = data;
      }

      // Función de seleccíón de cuentas
      // Resalta la cuenta
      // Controla si es transferencia para resaltar origien o destino
      // Solicita los movimientos al seleccioinar una cuenta.
      _idAccountChanged (newValue, oldValue){

        // Primera vez ==> salimos, no hacemos nada, estamos con el previo al login
        if (newValue == -1 && !oldValue){
          return;
        }

        // Tomamos las referencias al elemento seleccionado y el previo seleccionado
        // para a través del padre del padre (elemento tr de la tabla)
        // cambiar el estilo del fondo para resaltar el valor seleccionado
        var elementSeleccinado = Polymer.dom(this.root).querySelector("#accountsTable").shadowRoot.querySelector("#account_"+newValue);
        var elementDeseleccinado = Polymer.dom(this.root).querySelector("#accountsTable").shadowRoot.querySelector("#account_"+oldValue);

        if (elementSeleccinado){
          elementSeleccinado.parentNode.parentNode.style.backgroundColor = "LightBlue";
        }
        if (elementDeseleccinado){
          elementDeseleccinado.parentNode.parentNode.style.backgroundColor = "";
        }

        Polymer.dom(this.root).querySelector("#accountsButtons").showMeAccountSelected();

        // Deseleccinado: quito botonera y genero evento
        if (newValue == -1){
          Polymer.dom(this.root).querySelector("#accountsButtons").hideMeAccountSelected();

          this.dispatchEvent(new CustomEvent('techu-conde-accounts-desSelected', {
            bubbles: true,
            composed: true,
            detail: {
          }}));
        }

        this.dispatchEvent(new CustomEvent('techu-conde-accounts-selected', {
          bubbles: true,
          composed: true,
          detail: {
            idAccount : newValue
        }}));
      }

      // Cambia el valor de la cuenta de destino de una transferencia
      _idAccountDestChanged (newValue, oldValue){

        // Primera vez ==> salimos, no hacemos nada, estamos con el previo al login
        if (newValue == -1 && !oldValue){
          return;
        }

        // Se ha deseleccionado ==> inhabilitamos botón de transferencia
        if (newValue == -1){
            Polymer.dom(this.root).querySelector("#transferButton").disabled = true;
        }
        // Selección de detino : habilitamos botón de transferencia
        else{
            Polymer.dom(this.root).querySelector("#transferButton").disabled = false;
        }


        // Tomamos las referencias al elemento seleccionado y el previo seleccionado
        // para a través del padre del padre (elemento tr de la tabla)
        // cambiar el estilo del fondo para resaltar el valor seleccionado
        var elementSeleccinado = Polymer.dom(this.root).querySelector("#accountsTable").shadowRoot.querySelector("#account_"+newValue);
        var elementDeseleccinado = Polymer.dom(this.root).querySelector("#accountsTable").shadowRoot.querySelector("#account_"+oldValue);

        if (elementSeleccinado){
          elementSeleccinado.parentNode.parentNode.style.backgroundColor = "LightGreen";
        }
        if (elementDeseleccinado){
          elementDeseleccinado.parentNode.parentNode.style.backgroundColor = "";
        }
      }

      // Borramos cuenta vía DM
      deleteAccount (e, data){
        if (window.confirm ("¿Está seguro de eliminar la cuenta " + this.IBAN + "?")){
          Polymer.dom(this.root).querySelector("#accountsdm").deleteAccount (this.idAccount);
        }
      }

      // Evento de creación de cuenta (botón pulsado): mostramos formulario de alta de cuenta
      newAccount (e, data){
        Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
        Polymer.dom(this.root).querySelector("#formNewAccountDiv").hidden = false;
      }

      transfer (e, data){
        Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
        Polymer.dom(this.root).querySelector("#formTransferDiv").hidden = false;
      }

      // Creamos una nueva cuenta tras validar correcto IBAN
      createAccount (){
        var newIban = Polymer.dom(this.root).querySelector("#newIbanInput").value;
        if (newIban.length==0){
            window.alert ("Debe introducir un IBAN correcto");
        }
        else{
          Polymer.dom(this.root).querySelector("#accountsdm").createAccount (newIban, this.idUser);
        }
      }
        // La cuenta ha sido borrada: actualizamos listado
        accountDeleted (e, data){
          this.accounts = [];
          this.idAccount = -1;
          this.getAccounts (this.idUser);
        }

        // CUenta creada ok: actualizamos listado
        accountCreated (e, data){
          Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
          Polymer.dom(this.root).querySelector("#formNewAccountDiv").hidden = true;
          Polymer.dom(this.root).querySelector("#newIbanInput").value = "";
          this.getAccounts (this.idUser);
        }

        // Evento de cancelación de alta de cuenta: cerramos formulario y reseteamos valor
        cancelCreateAccount (e, data){
          Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
          Polymer.dom(this.root).querySelector("#formNewAccountDiv").hidden = true;
          Polymer.dom(this.root).querySelector("#newIbanInput").value = "";
        }

        // Evento de cancelación de tranferencia entre cuentas: cerramos formulario y reseteamos valor
        cancelTransfer (e, data) {
          Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
          Polymer.dom(this.root).querySelector("#formNewAccountDiv").hidden = true;
          Polymer.dom(this.root).querySelector("#formTransferDiv").hidden = true;
          Polymer.dom(this.root).querySelector("#importeInput").value = "";
          Polymer.dom(this.root).querySelector("#conceptoInput").value = "";
          this.transferAccountOriDest = true;
          this.IBANDest = "Seleccione una cuenta destino";
          this.idAccountDest = -1;
        }

        // Transferencia finalizada ==> ocultamos formulario y actualizmaos cuentas
        transferDone (e, data){
          window.alert ("Transferencia realizada con éxito");
          Polymer.dom(this.root).querySelector("#accountsButtons").showMeHideMe();
          Polymer.dom(this.root).querySelector("#formNewAccountDiv").hidden = true;
          Polymer.dom(this.root).querySelector("#formTransferDiv").hidden = true;
          Polymer.dom(this.root).querySelector("#importeInput").value = "";
          Polymer.dom(this.root).querySelector("#conceptoInput").value = "";
          this.transferAccountOriDest = true;
          this.IBANDest = "Seleccione una cuenta destino";
          this.idAccountDest = -1;
          this.getAccounts (this.idUser);

          // FOrzamos recarga de movimientos
          this.dispatchEvent(new CustomEvent('techu-conde-accounts-selected', {
            bubbles: true,
            composed: true,
            detail: {
              idAccount : this.idAccount
          }}));

        }

        submitTransfer (e, data){
          var importe = Polymer.dom(this.root).querySelector("#importeInput").value;
          var concepto = Polymer.dom(this.root).querySelector("#conceptoInput").value;
          if (!(importe && !isNaN(parseFloat(importe)) && isFinite(importe) && importe > 0.0))
          {
              alert ("El importe introducido no es correcto. El importe debe ser numérico y positivo");
          }
          else{
            Polymer.dom(this.root).querySelector("#accountsdm").tranfer (this.idUser, this.idAccount,
              this.idAccountDest, parseFloat(importe), concepto, this.balance, this.balanceDest,
              this.IBAN, this.IBANDest);
          }
        }


        // Evento registrado al seleccionar cuenta origen
        seleccionaOrigen (e, data){
          this.transferAccountOriDest = true;
        }

        // Evento registrado al seleccionar cuenta destino
        seleccionaDestino (e, data){
          this.transferAccountOriDest = false;
        }

    }

    window.customElements.define(TechuCondeAccount.is, TechuCondeAccount);
</script>
  <script>
    function _accountSelected (_idAccount, _IBAN, _balance){
      // SI estamos en tranfenecia, puede que estemos seleccionando la cuenta destino.
      // Actualizamos los valores dependiendo si seleccionamos normalmente o es destino de transferncia
      if (refAccounts.transferAccountOriDest){
        // Seleccionamos sobre el mismo valor ==> deseleccionamos.
        // Forzamos valor a "-1" para que se llame al observador del cambio de valor de la propiedad
        if (_idAccount == refAccounts.idAccount){
          refAccounts.idAccount = -1;
        }
        else{
          refAccounts.idAccount = _idAccount;
          refAccounts.IBAN = _IBAN;
          refAccounts.balance = _balance;
        }
      }

      // Destino de transferencia
      else{
        // Seleccionamos sobre el mismo valor ==> deseleccionamos.
        // Forzamos valor a "-1" para que se llame al observador del cambio de valor de la propiedad
        if (_idAccount == refAccounts.idAccountDest){
          refAccounts.IBANDest = "Seleccione una cuenta destino";
          refAccounts.idAccountDest = -1;
        }
        else{
          refAccounts.idAccountDest = _idAccount;
          if (_IBAN){
            refAccounts.IBANDest = _IBAN;
            refAccounts.balanceDest = _balance;
          }
          else{
            refAccounts.IBANDest = "Seleccione una cuenta destino";
          }
        }
      }
    }
    </script>

</dom-module>
