<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="techu-conde-accounts-buttons" sheading="Custom styled">

<template id="techuCondeAccountsButtons" is="auto-binding" ref="techuCondeAccounts">
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <div hidden="{{hide}}">
    <button type="button" class="btn btn-primary"
    on-click="newAccount">Nueva Cuenta</button>

    <button type="button" class="btn btn-primary" hidden="{{hideAccountSelected}}"
    on-click="transfer">Transferencia entre cuentas</button>

    <button type="button" class="btn btn-danger"  hidden="{{hideAccountSelected}}"
    on-click="deleteAccount">Eliminar Cuenta</button>
  </div>
</template>

  <script>
    class TechuCondeAccountsButtons extends Polymer.Element {
      static get is() { return 'techu-conde-accounts-buttons'; }

      static get properties() {
        return {
          hide:                 {type: Boolean, value: true},
          hideAccountSelected:  {type: Boolean, value: true}
        };
      }

      ready () {
        super.ready();
      }
      showMeHideMe () {
        this.hide = !this.hide;
      }

      //Por selección de cuenta: activamos botonera de baja y tranferencia
      showMeAccountSelected () {
        this.hideAccountSelected = false;
      }

      //Por deselección de cuenta: activamos botonera de baja y tranferencia
      hideMeAccountSelected () {
        this.hideAccountSelected = true;
      }

      // Enviamos evento al padre
      deleteAccount (){
        this.dispatchEvent(new CustomEvent('techu-conde-accounts-delete', {
          bubbles: true,
          composed: true,
          detail: {
        }}));
      }

      // Enviamos evento al padre
      newAccount (){
        this.dispatchEvent(new CustomEvent('techu-conde-accounts-new', {
          bubbles: true,
          composed: true,
          detail: {
        }}));
      }

      transfer (){
        this.dispatchEvent(new CustomEvent('techu-conde-accounts-transfer', {
          bubbles: true,
          composed: true,
          detail: {
        }}));
      }
    }



    window.customElements.define(TechuCondeAccountsButtons.is, TechuCondeAccountsButtons);
</script>

</dom-module>
