<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!-- Importo propiedades -->
<script src="../../cfg/properties.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="techu-conde-statements-chart" sheading="Custom styled">

<template id="techuCondeStatementsChart" is="auto-binding" ref="techuCondeAccountsChart">
  <div>
    <div id="chartId">
    </div>
    <iron-ajax
      id="getChart"
      method="post"
      body="[]"
      url=""
      handle-as="json"
      content-type="application/json"
      on-error="showErrorChart"
      on-response="manageAjAXResponseChart">
  </template>
  </div>
</template>
  <script>
    class TechuCondeStatementsChart extends Polymer.Element {
      static get is() { return 'techu-conde-statements-chart'; }

      static get properties() {
        return {
          };
      }

      hideMe () {
        Polymer.dom(this.root).querySelector("#chartId").innerHTML = "";
      }

      // Evento para generar la generación de la gráfica con los movimientos pasados
      render (statements){
        // Incluimos los puntos de la gráfica
        var bodyPlots = {
          "plots": statements
        }
        this.$.getChart.url = baseAPIURL+"plotly/";
        this.$.getChart.body = JSON.stringify (bodyPlots);
        this.$.getChart.generateRequest();
      }

      manageAjAXResponseChart (data){
        // Borramos imágenes previas
        Polymer.dom(this.root).querySelector("#chartId").innerHTML  = "";
        // creamos la imagen que viene en el body de la respuesta
        var outputImg = document.createElement('img');
        outputImg.src = data.detail.response.body;
        outputImg.setAttribute ("width", "800px");
        outputImg.setAttribute ("height", "300px");

        // append it to your page
        Polymer.dom(this.root).querySelector("#chartId").appendChild (outputImg);
      }

      showErrorChart (error){
        console.log ("Errror generando gráfica de movimientos");
        console.log (error);
        Polymer.dom(this.root).querySelector("#chartId").innerHTML = "Error recuperando la gráfica";
      }
    }

    window.customElements.define(TechuCondeStatementsChart.is, TechuCondeStatementsChart);
</script>
</dom-module>
