<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!-- Importo propiedades -->
<script src="../../cfg/properties.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="techu-conde-statements-dm" sheading="Custom styled">
  <template>
    <iron-ajax
      id="getStatementsAjax"
      method="GET"
      url=""
      content-type="application/json"
      handle-as="json"
      on-error="showError"
      on-response="manageAjAXResponseStatements"></iron-ajax>
  </template>


  <script>

    class TechuCondeStatements_dm extends Polymer.Element {
      static get is() { return 'techu-conde-statements-dm'; }
      static get properties() {
        return {
          idUser:     {type: Number, value:-1},
          idAccount:     {type: Number, value:-1},
          statements:   {type: Array}
        };
      }

      // Solicita los movimientos asociados al usuario y cuenta
      getStatements (idUser, idAccount){
        this.idUser = idUser;
        this.idAccount = idAccount;
        this.$.getStatementsAjax.url=baseAPIURL+"users/" + this.idUser + "/accounts/"+ this.idAccount +"/statements/"
        console.log (this.$.getStatementsAjax.url);
        this.$.getStatementsAjax.generateRequest();
        }

        manageAjAXResponseStatements (data){
          this.statements = data.detail.response;
          // formateamos las cuentas para la tabla que pintaremos
          // con cells-sortable-table
          var statementsCells = this._formatStatementsToTable (this.statements);

          // formateamos la salida para tomar los puntos de saldos de los movimientos (evolución ordenada)
          var statementsPlots = this._formatStatementsToChart (this.statements);

          // Emitimos evento para que se pinte la tabla con los movimientos
          this.dispatchEvent(new CustomEvent('techu-conde-statements-dm-ok', {
            bubbles: true,
            composed: true,
            detail: {
              headers : [
                          {"label": "dateTimeStamp","id": "dateTimeStamp","sortable": true, "hide":true, "isHeader":true},
                          {"label": "date","id": "date","sortable": true},
                          {"label": "type","id": "type","sortable": true},
                          {"label": "ammount","id": "ammount","sortable": true},
            	            {"label": "comments", "id": "comments", "sortable": true}
                        ],
              rows : statementsCells
          }}));

          // Emitimos otro evento para recuperar gráfica de evolución del balance
          this.dispatchEvent(new CustomEvent('techu-conde-statements-dm-chart-ok', {
            bubbles: true,
            composed: true,
            detail: {
              plots : statementsPlots
          }}));
        }

        // Eror al bucar movimientos
        showError (error){
          console.log("Hubo un error: no existen moviemientos");
          console.log (error);
          this.dispatchEvent(new CustomEvent('techu-conde-statements-dm-ok', {
            bubbles: true,
            composed: true,
            detail: {
              headers : [
                        ],
              rows : []
          }}));
        }

        // Formatea el json a enviar como "statements" para que tenga el formato
        // que requiere el componente cells-sortable-table
        _formatStatementsToTable (accounts){
          var jsonParseado = [];
          for (var i = 0; i < accounts.length; i++){
            var date = accounts[i]["date"];
            var dateParts = date.split("/");
            var dateTimeStamp = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]).getTime(); // month is 0-based
            var type = accounts[i]["type"];
            var comments = accounts[i]["comments"];
            var ammount = accounts[i]["ammount"];
            var id = accounts[i]["_id"];
              // Añadimos el método _accountSelected para una vez seleccionada una
              // cuenta podamos operar con ella
              jsonParseado.push ({
                "cells": [
                  //{"label": "<a href=\"javascript:void(0);\" onclick=\"{{_statementSelected('"+id+"')}}\">" + iban +"</a>"},
                  {"label": dateTimeStamp, "hide":true},
                  {"label": date},
                  {"label": type},
                  {"label": ammount},
                  {"label": comments}
                ]
              });
          }
          return jsonParseado;
        }

        // Formatea el json a enviar como "statements" para que tenga el formato
        // que requiere la gráfica a pintar
        _formatStatementsToChart (accounts){
          var arrayMovimientos = [];
          var arrayMovimientosOrdenados = [];
          for (var i = 0; i < accounts.length; i++){
            var date = accounts[i]["date"];
            var dateParts = date.split("/");
            var dateTimeStamp = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]).getTime(); // month is 0-based
            var ammount = accounts[i]["ammount"];

              arrayMovimientos[dateTimeStamp] = parseFloat(ammount);
          }

          var keys = [];
          var k, i, lastAmmount;
          for (k in arrayMovimientos) {
            if (arrayMovimientos.hasOwnProperty(k)) {
              keys.push(k);
            }
          }

          keys.sort();

          // Recuperamos los movimiento ordenados por clave (timestamp ==> por fecha)
          // y sumando importes para dar gráfica de evolución del balance de la cuenta
          lastAmmount = 0;
          for (i = 0; i < keys.length; i++) {
            k = keys[i];
            lastAmmount = arrayMovimientos[k] +lastAmmount;
            arrayMovimientosOrdenados.push (lastAmmount);
          }

          return arrayMovimientosOrdenados;
        }

      }

    window.customElements.define(TechuCondeStatements_dm.is, TechuCondeStatements_dm);
  </script>
</dom-module>
