<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/cells-sortable-table/cells-sortable-table.html">
<link rel="import" href="techu-conde-statements-dm.html">
<link rel="import" href="techu-conde-statements-chart.html">

<dom-module id="techu-conde-statements" sheading="Custom styled">

<template id="techuCondeStatements" is="auto-binding" ref="techuCondeAccounts">
  <link rel="stylesheet" type="text/css" href="../../css/techu-conde.css">
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">

  <div hidden="{{hide}}" class="p-3 mb-2 bg-light border border-warning rounded">
    <techu-conde-statements-dm
      id ="statementsdm"
      on-techu-conde-statements-dm-ok="listStatements"
      on-techu-conde-statements-dm-chart-ok="renderChart">
    </techu-conde-statements-dm>

    <center>
      <techu-conde-statements-chart
        id ="statementsChart">
      </techu-conde-statements-chart>
    </center>

      <cells-sortable-table
        id="statementsTable"
        class="simple"
        show-sort-buttons
        sort-by="dateTimeStamp"
        rows="[[statements.rows]]"
        column-headers="[[statements.headers]]">
      </cells-sortable-table>
  </table>
  </div>
</template>
  <script>
    var refStatements;
    /**
     * `techu-conde`
     * Proyecto Fin Master
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TechuCondeStatements extends Polymer.Element {
      static get is() { return 'techu-conde-statements'; }

      static get properties() {
        return {
          idAccount:     {type: Number, value:-1},
          statements:   {type:Array},
          hide:     {type: Boolean, value: true}
          };
      }

      // ELimino valores de las proppiedades
      resetValues (){
        this.idAccount = -1;
        this.statements = [];
        Polymer.dom(this.root).querySelector("#statementsChart").hideMe();
      }

      showMeHideMe () {
        this.hide = !this.hide
      }
      // Fuerzo la llamada al webcomponent data manager asociado para que
      // recuepere los movimientos asociados al usuario y la cuenta de la base de datos.
      getStatements (idUser, idAccount){
        // doy valor a ref para poderlo usar fuera del shadow-dom (por mejorar)
        refStatements = this;
        this.idUser = idUser;
        this.idAccount = idAccount;
        Polymer.dom(this.root).querySelector("#statementsdm").getStatements (this.idUser, this.idAccount);
      }

      // Modifica la propiedad de movimientos. Con esto la tabla de cuentas se ve actualizada
      // Invoco la gráfica de movimientos
      listStatements (e, data){
        this.statements = data;
      }

      renderChart (e, data){
        Polymer.dom(this.root).querySelector("#statementsChart").render (data.plots);
      }

    }

    window.customElements.define(TechuCondeStatements.is, TechuCondeStatements);
</script>
</dom-module>
