<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo propiedades -->
<script src="../../cfg/properties.js"></script>
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="techu-conde-login-DM" sheading="Custom styled">
  <template>
    <iron-ajax
      id="doLogin"
      method="POST"
      url=""
      content-type="application/json"
      handle-as="json"
      on-error="showErrorLogin"
      on-response="manageAjAXResponseLogin"></iron-ajax>
    <iron-ajax
        id="doLogout"
        method="GET"
        url=""
        content-type="application/json"
        handle-as="json"
        on-error="showErrorLogout"
        on-response="manageAjAXResponseLogout"></iron-ajax>
  </template>


  <script>
    /**
     * `techu-conde`
     * Proyecto Fin Master
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TechuCondeLogin_dm extends Polymer.Element {
      static get is() { return 'techu-conde-login-dm'; }
      static get properties() {
        return {
          idUser:     {type: Number, value:-1},
          first_name: {type: String},
          last_name:  {type: String},
          password:   {type: String},
          email:      {type: String},
          logged:     {type: Boolean, value : false}  // le damos valor por defecto
        };
      }

      // Invocado desde componente padre
      login (email, password) {
          var loginData = {
            "email": email,
            "password" : password
          }
          // $ es para acceder al shadow DOM, dentro hay un elemento doLogin que es el
          // componente ironAjax
          // Le indico que sobre el ajax, el cuerpo que se envía es el JSON construido
          this.$.doLogin.url = baseAPIURL+"users/login";
          this.$.doLogin.body = JSON.stringify (loginData);
          // Envía la petición ya con el body construido
          this.$.doLogin.generateRequest();
        }

        logout (idUser) {
          console.log ("Haciendo logout para usuario " + idUser);
          this.idUser = idUser;
          this.$.doLogout.url=baseAPIURL+"users/"+ idUser + "/logout"
          console.log (this.$.doLogout.url);
          this.$.doLogout.generateRequest();
        }

        // Capturamos la respuesta con los datos del usuario logado
        // y creamos nuevo evento de login correcto
        manageAjAXResponseLogin (data){
          this.idUser = data.detail.response.id;
          this.first_name = data.detail.response.first_name;
          this.last_name = data.detail.response.last_name;
          this.email = data.detail.response.email;
          this.logged = true;
          console.log ("Haciendo login para usuario " + this.email);
          this.dispatchEvent(new CustomEvent('techu-conde-login-dm-ok', {
            bubbles: true,
            composed: true,
            detail: {
              idUser : this.idUser,
              first_name : this.first_name,
              last_name : this.last_name,
              email : this.email,
              logged : this.logged
          }}));
        }

        // Eliminamos usuario
        // y creamos nuevo evento de logout correcto
        manageAjAXResponseLogout (data){
          console.log ("manejando salida LOGOUT");
          this.idUser = -1;
          this.first_name = "";
          this.last_name = "";
          this.email = "";
          this.logged = false;
          this.dispatchEvent(new CustomEvent('techu-conde-logout-dm-ok', {
            bubbles: true,
            composed: true,
            detail: {
              idUser : this.idUser,
              first_name : this.first_name,
              last_name : this.last_name,
              email : this.email,
              logged : this.logged
          }}));
        }

        showErrorLogin (error){
          console.log (error);
          this.idUser = -1;
          this.first_name = "";
          this.last_name = "";
          this.email = "";
          this.logged = "";
          this.dispatchEvent(new CustomEvent('techu-conde-login-dm-ko', {}));
        }

        showErrorLogout (error){
          console.log (error);
          this.dispatchEvent(new CustomEvent('techu-conde-logout-dm-ko', {}));
        }
      }

    window.customElements.define(TechuCondeLogin_dm.is, TechuCondeLogin_dm);
  </script>
</dom-module>
