<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login.html">
<link rel="import" href="techu-conde-login-dm.html">

<dom-module id="techu-conde-login" sheading="Custom styled">
  <template>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <center>
    <br/><br/>
    <div hidden="{{hide}}"  class="p-3 mb-2 bg-secondary border border-success rounded" style="width:70%;">
      <div class="p-3 mb-2 bg-secondary text-white "><h1 class="display-3">&lt;techu-conde/&gt;</h1></div>

      <!-- indicamos que al evento "cells-basic-login-succes" respondemso con "eventLogin"-->
      <cells-basic-login class="custom-style" icon-checked="coronita:checkmark"
                       icon-unchecked="coronita:close" icon-toggle="coronita:menu"
                       on-cells-basic-login-success="loginEvent"
                       on-cells-basic-login-forgotten-password="recordarPassowrd">
      </cells-basic-login>
      <!-- Incrustramos el data manager -->
      <!-- login y logout sobre mismo método, luego controlamos desde padre con código usuario
      si fuera -1 es un logout correcto -->
      <techu-conde-login-dm
        id="logindm"
        on-techu-conde-login-dm-ko="loginKO"
        on-techu-conde-logout-dm-ok="loginOK"
        on-techu-conde-login-dm-ok="loginOK"
        on-techu-conde-logout-dm-ok="loginOK">
      </techu-conde-login-dm>
    </div>
  </center>
  </template>

  <script>
    /**
     * `techu-conde`
     * Proyecto Fin Master
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TechuCondeLogin extends Polymer.Element {
      static get is() { return 'techu-conde-login'; }

      static get properties() {
        return {
          email:    {type: Number},
          password: {type: String},
          hide:     {type: Boolean, value: false}
        };
      }

      showMeHideMe () {
        this.hide = !this.hide
      }

      loginEvent (e,data){
        this.email = data.user;
        this.password = data.password;
        //Polymer.dom(this.root).querySelector("#logindm").kk();
        Polymer.dom(this.root).querySelector("#logindm").login (this.email, this.password);
      }

      logout (idUser){
        Polymer.dom(this.root).querySelector("#logindm").logout (idUser);
      }

        loginKO(e, data){
          console.log ("login / logout incorrecto");
          window.alert ("Usuario / contraseña incorrectas");
        }

        loginOK (e, data){
          this.dispatchEvent(new CustomEvent('techu-conde-login-ok', {
            bubbles: true,
            composed: true,
            detail: {
              idUser : data.idUser,
              first_name : data.first_name,
              last_name : data.last_name,
              email : data.email,
              logged : data.logged
          }}));
        }

        recordarPassowrd (e, data){
          window.alert ("Acuda a su oficina");
        }
      }


    window.customElements.define(TechuCondeLogin.is, TechuCondeLogin);
  </script>
</dom-module>
