<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="techu-conde-welcome">
  <template>
    <!-- Bootstrap & jquery -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <div hidden="{{hide}}"  class="p-3 mb-2 bg-light border border-success rounded">
      <h2>
        <div class="p-3 mb-2 bg-primary text-white">
          <span align="left">
            <span class="display-6 text-warning">&lt;techu-conde/&gt;</span>
            <small> Bienvenid@, [[first_name]] [[last_name]]</small>
            <a on-click="doLogout">
              <img src="../img/shutdown.png" alt="Salir" height="32" width="32" align="right" >
            </a>
          </span>
        </div>
      </h2>
    </div>
  </template>

  <script>

    class TechuCondeWelcome extends Polymer.Element {
      static get is() { return 'techu-conde-welcome'; }
      static get properties() {
        return {
          first_name: {type: String},
          last_name:  {type: String},
          hide:       {type: Boolean, value: true} // para ocultar, mostsrar el propio componente
        };
      }

      showMeHideMe () {
        this.hide = !this.hide
      }


      setValues (_first_name, _last_name){
        this.first_name = _first_name;
        this.last_name = _last_name;
      }

      resetValues (){
        this.first_name = "";
        this.last_name = "";
      }

      // Manejador sobre acción logut del botón
      doLogout (e){
        this.dispatchEvent(new CustomEvent('techu-conde-logout', {
          bubbles: true,
          composed: true,
          detail: {
        }}));
      }
    }

    window.customElements.define(TechuCondeWelcome.is, TechuCondeWelcome);
  </script>
</dom-module>
