<!-- tdanher0@google.co.uk -->
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="/src/techu-conde-login/techu-conde-login.html">
<link rel="import" href="/src/techu-conde-login/techu-conde-welcome.html">
<link rel="import" href="/src/techu-conde-accounts/techu-conde-accounts.html">
<link rel="import" href="/src/techu-conde-statements/techu-conde-statements.html">


<dom-module id="techu-conde">
  <template>
    <!-- Bootstrap & jquery -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <techu-conde-login
      id="loginId"
      on-techu-conde-login-ok="login">
    </techu-conde-login>

    <techu-conde-welcome
      id="welcomeId"
      first-name=[[first_name]]
      last-name=[[last_name]]
      on-techu-conde-logout="doLogout">
    </techu-conde-welcome>

    <techu-conde-accounts
      id="accounts"
      idAccount="{{idAccount}}"
      on-techu-conde-accounts-selected="accountSelected"
      on-techu-conde-accounts-desSelected="accountDesSelected"
      >
    </techu-conde-accounts>

    <techu-conde-statements
      id="statements">
    </techu-conde-statements>

  </template>

  <script>

    class TechuConde extends Polymer.Element {
      static get is() { return 'techu-conde'; }
      static get properties() {
        return {
          idUser:     {type: Number, value:-1},
          idAccount:  {type: Number, value:-1},
          first_name: {type: String},
          last_name:  {type: String},
          password:   {type: String},
          email:      {type: String},
          logged:     {type: Boolean, value : false},  // le damos valor por defecto
          hide:       {type: Boolean, value: true} // para ocultar, mostsrar el propio componente
        };
      }

      showMeHideMe () {
        this.hide = !this.hide
      }

      // Se hace login correcto del usuario.
      // Almacenamos su información y recuperamos las cuentas asociadas al mismo.
      login (e, data){
        this.idUser = data.idUser;
        if (this.idUser == -1){
          this.logout ();
        }
        else{
          this.first_name = data.first_name;
          this.last_name = data.last_name;
          this.email = data.email;
          this.logged = data.logged;
          // Solicito las cuentas vinculadas al usuario y paso datos personales a welcome
          Polymer.dom(this.root).querySelector("#accounts").getAccounts (this.idUser);
          Polymer.dom(this.root).querySelector("#welcomeId").setValues (this.first_name, this.last_name);

          // Muestro todos los comoponentes asociados
          Polymer.dom(this.root).querySelector("#loginId").showMeHideMe();
          Polymer.dom(this.root).querySelector("#welcomeId").showMeHideMe();
          Polymer.dom(this.root).querySelector("#accounts").showMeHideMe();
          Polymer.dom(this.root).querySelector("#statements").showMeHideMe();

          this.showMeHideMe();
        }
      }

      // Respuesta de logout correcto ==>
      logout (){
        // Oculto todos los componentes
        Polymer.dom(this.root).querySelector("#loginId").showMeHideMe();
        Polymer.dom(this.root).querySelector("#accounts").showMeHideMe();
        Polymer.dom(this.root).querySelector("#statements").showMeHideMe();
        Polymer.dom(this.root).querySelector("#welcomeId").showMeHideMe();

        // Borro valores cargados en los componentes
        Polymer.dom(this.root).querySelector("#accounts").resetValues();
        Polymer.dom(this.root).querySelector("#statements").resetValues();
        Polymer.dom(this.root).querySelector("#welcomeId").resetValues();
      }

      // Manejador sobre acción logut del botón
      doLogout (e){
        Polymer.dom(this.root).querySelector("#loginId").logout(this.idUser);
      }

      // Cuenta seleccionada: busco sus moviemientos
      accountSelected (e, data){
        this.idAccount = data.idAccount;
        if (this.idAccount != -1){
          Polymer.dom(this.root).querySelector("#statements").getStatements (this.idUser, this.idAccount);
        }
        else{
          Polymer.dom(this.root).querySelector("#statements").resetValues();
        }
      }

      // Cuenta deseleccionada
      accountDesSelected (e, data){
        Polymer.dom(this.root).querySelector("#statements").resetValues();
        Polymer.dom(this.root).querySelector("#statements").showMeHideMe();
      }
    }

    window.customElements.define(TechuConde.is, TechuConde);
  </script>
</dom-module>
